# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.MinionsArt_Buildin.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Administrator\Documents\Git_Book\YuSongMOMO\第六章\MinionsArt_Buildin\.idea\.idea.MinionsArt_Buildin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
